<p id="notice"><%= notice %></p>

    <% @memories.each do |memory| %>
        <h1 class="sec-margin-top" data-scroll-reveal="enter from the bottom after 0.1s"><%= memory.name %></h1>
        <h4 data-scroll-reveal="enter from the bottom after 0.2s"><%= memory.subtitle %></h4>
        <h4 data-scroll-reveal="enter from the bottom after 0.3s"><%= memory.description %></h4>
        <%= image_tag(memory.picture_url, :width => 600) if memory.picture.present? %>
        <p><%= link_to 'Show', memory %> | <%= link_to 'Edit', edit_memory_path(memory) %> | <%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>


<%= link_to 'New Memory', new_memory_path %>
